@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 54px;
  line-height: 71.5px;
  text-align: center;
  color: #232c30;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  h1 {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 28px;
    line-height: 33.6px;
    margin-bottom: 10px;
  }
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  color: #232c30;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (max-width: 500px) {
  h2 {
    font-size: 22.5px;
    line-height: 27px;
    padding-bottom: 24px;
  }
}

span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;
  color: #0065d4;
  text-align: center;
}
@media (max-width: 500px) {
  span {
    font-size: 18px;
    line-height: 21.6px;
  }
}

.main_header {
  background-image: url("/img/fon 1.png");
  height: 100vh;
}
@media (max-width: 500px) {
  .main_header {
    height: 70vh;
  }
}
.main_header header {
  display: flex;
  justify-content: space-between;
  padding: 48px 72px;
}
@media (max-width: 640px) {
  .main_header header {
    padding: 48px 20px;
  }
}
@media (max-width: 500px) {
  .main_header header {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .main_header header img {
    display: none;
  }
}
.main_header header ul {
  list-style: none;
  display: flex;
  gap: 48px;
}
.main_header header ul li {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: #232c30;
  transition: 0.1s;
}
.main_header header ul li:hover {
  border-bottom: 4px solid #0065d4;
}
.main_header section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 12px;
}
@media (max-width: 720px) {
  .main_header section {
    height: 60vh;
  }
}
@media (max-width: 500px) {
  .main_header section {
    padding: 0px 15px;
  }
}
.main_header section div {
  width: 100%;
  max-width: 921px;
  text-align: center;
}
@media (max-width: 720px) {
  .main_header section div {
    max-width: 631px;
  }
}

.About_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 81px 0px 151px 0px;
}
.About_us section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 65px;
}
@media (max-width: 960px) {
  .About_us section {
    margin-top: 60px;
  }
}
@media (max-width: 640px) {
  .About_us section {
    margin: 0px 20px;
  }
}
@media (max-width: 960px) {
  .About_us section img {
    width: 350px;
  }
}
@media (max-width: 800px) {
  .About_us section img {
    display: none;
  }
}
.About_us section div {
  width: 100%;
  max-width: 653px;
  margin-left: 54px;
}
@media (max-width: 640px) {
  .About_us section div {
    margin: 20px 0px;
  }
}
.About_us section div h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;
  color: #232c30;
}
.About_us section div p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: #232c30;
  padding-top: 12px;
}

.section_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/img/FON 3.png");
  background-color: #f9f9f9;
  padding: 86px 0px;
}
@media (max-width: 500px) {
  .section_1 {
    padding: 62px 15px;
  }
}
.section_1 p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  max-width: 756px;
  color: #525561;
}
@media (max-width: 500px) {
  .section_1 p {
    padding: 0px 15px;
  }
}

.Advanced {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
}
@media (max-width: 500px) {
  .Advanced {
    padding: 80px 15px;
  }
}
.Advanced article {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1087px;
  gap: 30px;
  padding-top: 104px;
}
@media (max-width: 960px) {
  .Advanced article {
    padding: 0;
    max-width: 860px;
  }
}
@media (max-width: 916px) {
  .Advanced article {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 20px;
    padding-top: 54px;
  }
}
.Advanced article section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 916px) {
  .Advanced article section {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 20px;
  }
}
.Advanced article section img {
  padding: 0px 91px 0px 58px;
}
@media (max-width: 916px) {
  .Advanced article section img {
    display: none;
  }
}
.Advanced article section div {
  padding: 16px 24px;
  border: 2px solid #e6e6e7;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
}
.Advanced article section div h3 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 23.4px;
  color: #232c30;
}
.Advanced article section div p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: #232c30;
}
.Advanced article section:nth-child(2) {
  margin-left: 50px;
}
@media (max-width: 960px) {
  .Advanced article section:nth-child(2) {
    margin: 0px;
  }
}
.Advanced article section:nth-child(3) div:nth-child(2) {
  margin-top: 10px;
}
@media (max-width: 960px) {
  .Advanced article section:nth-child(3) div:nth-child(2) {
    margin: 0px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 42px;
  background-color: #232c30;
}
@media (max-width: 640px) {
  footer {
    flex-direction: column;
    gap: 25px;
  }
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer ul li {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: #f6f6f2;
}
footer p {
  width: 100%;
  max-width: 610px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: #f6f6f2;
}
@media (max-width: 960px) {
  footer p {
    width: 480px;
  }
}
@media (max-width: 916px) {
  footer p {
    width: 305px;
  }
}
@media (max-width: 640px) {
  footer p {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */